@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf) format("OpenType");
}

:root{
    --cor0: #00382B;
    --cor1: #1B5240;
    --cor2: #77AD9E;
    --cor3: #C1E0D2;
    --cor4: #F4F3E8;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Open Sans', sans-serif;
    --fonte-android: 'idroid', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
}

a{
    text-decoration: none;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-height: 110px;
    text-align: center;
    padding-top: 40px;
}

h1{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    margin-bottom: 16px;
    Text-shadow: 0px 0px 20px black;
    font-weight: 600;
}

header > p{
    font-family: var(--fonte-destaque);
    font-weight: 300;
    color: var(--cor4);
    max-width: 500px;
    margin: auto;
    padding: 10px;
    padding-bottom: 30px;
}

nav{
    padding: 10px;
    background-color: var(--cor0);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.479);
}

nav a{
    font-family: var(--fonte-destaque);
    font-weight: 600;
    color: var(--cor3);
    padding: 3px 15px;
    border-radius: 3px;
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor0);
    
}

main{
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    background-color: var(--cor4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 61%) 4px 5px 8px 0px;
}

main p{
    padding: 5px;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em; /*Lembrar de colocar isso nos paragrafos*/
    font-size: 1em;
}

main strong{
    color: var(--cor0);
    font-weight: bold;
}

article{
    padding: 10px;
}

article > h2{
    padding: 10px;
    font-family: var(--fonte-android);
    color: var(--cor0);
}

article h3{
    padding: 10px;
    font-family: var(--fonte-android);
    color: var(--cor0);
    background-image: linear-gradient(to right, var(--cor3), var(--cor4));
}

p > a{
    background-color: var(--cor3);
    color: var(--cor0);
    font-weight: bold;
    padding: 2px 3px;
}
img{
    width: 100%;
    display: block;
    margin: auto;
}

.pequeno{
    max-width: 350px;
}

aside{
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 61%) 4px 5px 8px 0px;
}

aside a{
    background-color: var(--cor0);
    color: var(--cor4);
}

aside ul{
    list-style-position: inside;
    list-style-type: "\2714\00A0\00A0";
    columns: 2;
}

aside h2{
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px; /*Serve para "engordar" a margem*/
    border-radius: 10px 10px 0px 0px;
}

footer{
    color: var(--cor4);
    padding: 10px;
    text-align: center;
    background-color: var(--cor0);
}

footer a{
    color: var(--cor4);
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}

a.externo::after{
    content: '\1F517';
}

div.video{
    background-color: var(--cor2);
    padding: auto;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.92%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}